:root {
  --light-color: #ffffff;
  --light-color-shadow: rgba(255, 255, 255, 0.15);
  --dark-color: #000000;
  --nav-font-size: 2rem;
  --nav-font-weight: 600;
  --font-family: 'Poppins';
}

* {
  font-family: var(--font-family) !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--light-color);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-color);
  border-radius: 20px;
}

::selection {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.body-padding {
  padding: 130px 0px;
}

p {
  font-size: larger;
}

.gait-btn {
  display: flex;
  justify-content: center;
  color: var(--light-color) !important;
  background-color: var(--dark-color) !important;
  border-radius: 2.5rem;
  text-decoration: none;
  transition: 0.5s;
}

.gait-btn:hover {
  transition: 0.5s;
  color: var(--dark-color) !important;
  background-color: var(--light-color) !important;
  border-radius: 2.5rem;
}

.gait-btn:hover .gaitIcon {
  transition: 0.5s;
  color: var(--dark-color) !important;
}

.gait-btn-selected {
  transition: 0.5s;
  color: var(--dark-color) !important;
  background-color: var(--light-color) !important;
  border-radius: 2.5rem;
}

.gaitIcon {
  width: 40px;
  color: var(--light-color) !important;
}


.li-big {
  position: relative;
  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-left: 2rem;
}

.li-big::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: var(--dark-color);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  z-index: -1;
  left: -2rem;
  top: 0.6rem;
}

.li-big::marker {
  color: var(--light-color);
}

.li-big-outline {
  position: relative;
  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-left: 2rem;
}

.li-big-outline::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: var(--light-color);
  border: solid var(--dark-color) 2px;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  z-index: -2;
  left: -2.1rem;
  top: 0.6rem;
}

.li-small {
  position: relative;
  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.li-small::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: var(--dark-color);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  z-index: -1;
  left: -1.7rem;
  top: 0.8rem;
}

.li-small::marker {
  color: var(--light-color);
}